version: "3"
services:
  ut4hub: 
    image: ut4hub
    container_name: ut4hub 
    environment:
      - SERVERMOTD="Message of the day"
      - SERVERNAME="UT4 Hub"
      - SERVERRCON="asdf1234"
      - SERVERTICKRATE=90
    ports: 
      - 8000-8500:8000-8500/udp # instance ports start at 8000 and go up from there
      - 14000:14000/udp         # instance comm port
      - 7777:7777/udp           # game comm port
      - 7787:7787/udp           # query port
